.profile__button-add {
  width: 150px;
  height: 50px;
  border: 1px solid #fff;
  background: url('../../../images/button-add.svg') center no-repeat;
  cursor: pointer;
  transition: opacity 350ms ease;
}

.profile__button-add:hover {
  opacity: .6;
}

@media screen and (max-width: 767px) {
  .profile__button-add {
    width: 282px;
    margin-top: 36px;
  }
}

